## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_vals = application_df.nunique()
unique_vals

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_bins = application_df['APPLICATION_TYPE'].value_counts()
application_type_bins

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =[]
cutoff_val=500
for index, val in application_type_bins.items():
    if val <= cutoff_val:
        application_types_to_replace.append(index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_bins = application_df['CLASSIFICATION'].value_counts() 
classification_bins

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2561        1
C2150        1
C4120        1
C2600        1
C1245        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_to_replace = []
for el in application_df['CLASSIFICATION'].unique():
  if application_df.CLASSIFICATION.value_counts()[el] > 50:
    pass
  else:
    classifications_to_replace.append(el)
print(len(classifications_to_replace))

57

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      441
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df, drop_first=True)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
split_df = dummies_df.drop(columns=['IS_SUCCESSFUL'])
split_df.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [11]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(split_df, y, test_size=0.2)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=60, activation="relu", input_dim=45))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 60)                2760

 dense_1 (Dense)             (None, 20)                1220

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 4,001
Trainable params: 4,001
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5748 - accuracy: 0.7133: 0s - loss: 0.5831 - accura
Epoch 2/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7289
Epoch 3/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7306
Epoch 4/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7310
Epoch 5/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7331
Epoch 6/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7323
Epoch 7/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7331: 0s - loss: 0.5465 -
Epoch 8/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7345
Epoch 9/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 10/200
858/858 [==============================] - 1s 973us/step - loss: 0.5451 - accuracy: 0.7341
Epoch 11/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 12/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 13/200
858/858 [==============================] - 1s 919us/step - loss: 0.5437 - accuracy: 0.7349
Epoch 14/200
858/858 [==============================] - 1s 921us/step - loss: 0.5431 - accuracy: 0.7350
Epoch 15/200
858/858 [==============================] - 1s 910us/step - loss: 0.5432 - accuracy: 0.7350
Epoch 16/200
858/858 [==============================] - 1s 918us/step - loss: 0.5428 - accuracy: 0.7350
Epoch 17/200
858/858 [==============================] - 1s 938us/step - loss: 0.5425 - accuracy: 0.7361
Epoch 18/200
858/858 [==============================] - 1s 938us/step - loss: 0.5419 - accuracy: 0.7354
Epoch 19/200
858/858 [==============================] - 1s 977us/step - loss: 0.5419 - accuracy: 0.7359
Epoch 20/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 21/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 22/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7371
Epoch 23/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 24/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 25/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7363
Epoch 26/200
858/858 [==============================] - 1s 981us/step - loss: 0.5399 - accuracy: 0.7371
Epoch 27/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7364
Epoch 28/200
858/858 [==============================] - 1s 938us/step - loss: 0.5398 - accuracy: 0.7368
Epoch 29/200
858/858 [==============================] - 1s 918us/step - loss: 0.5395 - accuracy: 0.7369
Epoch 30/200
858/858 [==============================] - 1s 921us/step - loss: 0.5392 - accuracy: 0.7375
Epoch 31/200
858/858 [==============================] - 1s 928us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 32/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7379
Epoch 33/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7374
Epoch 34/200
858/858 [==============================] - 1s 940us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 35/200
858/858 [==============================] - 1s 943us/step - loss: 0.5379 - accuracy: 0.7376
Epoch 36/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7376
Epoch 37/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 38/200
858/858 [==============================] - 1s 980us/step - loss: 0.5380 - accuracy: 0.7379
Epoch 39/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7391
Epoch 40/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 41/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 42/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7394
Epoch 43/200
858/858 [==============================] - 1s 964us/step - loss: 0.5376 - accuracy: 0.7385
Epoch 44/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 45/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 46/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7378
Epoch 47/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 48/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7401
Epoch 49/200
858/858 [==============================] - 1s 965us/step - loss: 0.5367 - accuracy: 0.7404
Epoch 50/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 51/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 52/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 53/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 54/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 55/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 56/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 57/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 58/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7387
Epoch 59/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7406
Epoch 60/200
858/858 [==============================] - 1s 948us/step - loss: 0.5356 - accuracy: 0.7403
Epoch 61/200
858/858 [==============================] - 1s 926us/step - loss: 0.5357 - accuracy: 0.7406
Epoch 62/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7403
Epoch 63/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 64/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 65/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7393
Epoch 66/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7405
Epoch 67/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 68/200
858/858 [==============================] - 1s 984us/step - loss: 0.5348 - accuracy: 0.7402
Epoch 69/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7409
Epoch 70/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 71/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 72/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 73/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 74/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 75/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7414
Epoch 76/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7397
Epoch 77/200
858/858 [==============================] - 1s 945us/step - loss: 0.5344 - accuracy: 0.7400
Epoch 78/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7393
Epoch 79/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7408
Epoch 80/200

858/858 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 81/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 82/200
858/858 [==============================] - 1s 931us/step - loss: 0.5338 - accuracy: 0.7412
Epoch 83/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7412
Epoch 84/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7407
Epoch 85/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 86/200
858/858 [==============================] - 1s 969us/step - loss: 0.5337 - accuracy: 0.7406
Epoch 87/200
858/858 [==============================] - 1s 937us/step - loss: 0.5334 - accuracy: 0.7402
Epoch 88/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 89/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 90/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7403
Epoch 91/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7422
Epoch 92/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7408
Epoch 93/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 94/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 95/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7416
Epoch 96/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7412
Epoch 97/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 98/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7404
Epoch 99/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7399
Epoch 100/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 101/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7401
Epoch 102/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7415
Epoch 103/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7405
Epoch 104/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 105/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7399
Epoch 106/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 107/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7415
Epoch 108/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 109/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7400
Epoch 110/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7415
Epoch 111/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 112/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 113/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 114/200
858/858 [==============================] - 1s 990us/step - loss: 0.5322 - accuracy: 0.7409
Epoch 115/200
858/858 [==============================] - 1s 993us/step - loss: 0.5323 - accuracy: 0.7409
Epoch 116/200
858/858 [==============================] - 1s 984us/step - loss: 0.5317 - accuracy: 0.7415
Epoch 117/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7412
Epoch 118/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 119/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 120/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 121/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 122/200
858/858 [==============================] - 1s 1000us/step - loss: 0.5319 - accuracy: 0.7407
Epoch 123/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7410
Epoch 124/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 125/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7418
Epoch 126/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 127/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7406
Epoch 128/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7412
Epoch 129/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7412
Epoch 130/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7416
Epoch 131/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7412
Epoch 132/200
858/858 [==============================] - 1s 993us/step - loss: 0.5314 - accuracy: 0.7410
Epoch 133/200
858/858 [==============================] - 1s 987us/step - loss: 0.5315 - accuracy: 0.7416
Epoch 134/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7412
Epoch 135/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7418
Epoch 136/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7415
Epoch 137/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7415
Epoch 138/200
858/858 [==============================] - 1s 999us/step - loss: 0.5316 - accuracy: 0.7416
Epoch 139/200
858/858 [==============================] - 1s 996us/step - loss: 0.5310 - accuracy: 0.7414
Epoch 140/200
858/858 [==============================] - 1s 991us/step - loss: 0.5317 - accuracy: 0.7414
Epoch 141/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7413
Epoch 142/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7432
Epoch 143/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7414
Epoch 144/200
858/858 [==============================] - 1s 994us/step - loss: 0.5311 - accuracy: 0.7414
Epoch 145/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 146/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7414
Epoch 147/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7417
Epoch 148/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7424
Epoch 149/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7418
Epoch 150/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7420
Epoch 151/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7422
Epoch 152/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7415
Epoch 153/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7411
Epoch 154/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7423
Epoch 155/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7427
Epoch 156/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7415
Epoch 157/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7414
Epoch 158/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7421
Epoch 159/200

858/858 [==============================] - 1s 989us/step - loss: 0.5315 - accuracy: 0.7413
Epoch 160/200
858/858 [==============================] - 1s 982us/step - loss: 0.5303 - accuracy: 0.7420
Epoch 161/200
858/858 [==============================] - 1s 998us/step - loss: 0.5306 - accuracy: 0.7420
Epoch 162/200
858/858 [==============================] - 1s 992us/step - loss: 0.5310 - accuracy: 0.7419
Epoch 163/200
858/858 [==============================] - 1s 993us/step - loss: 0.5303 - accuracy: 0.7421
Epoch 164/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7422
Epoch 165/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7424
Epoch 166/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7419
Epoch 167/200
858/858 [==============================] - 1s 977us/step - loss: 0.5307 - accuracy: 0.7417
Epoch 168/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7414
Epoch 169/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7420
Epoch 170/200
858/858 [==============================] - 1s 987us/step - loss: 0.5308 - accuracy: 0.7421
Epoch 171/200
858/858 [==============================] - 1s 983us/step - loss: 0.5308 - accuracy: 0.7421
Epoch 172/200
858/858 [==============================] - 1s 991us/step - loss: 0.5305 - accuracy: 0.7422
Epoch 173/200
858/858 [==============================] - 1s 980us/step - loss: 0.5301 - accuracy: 0.7426
Epoch 174/200
858/858 [==============================] - 1s 992us/step - loss: 0.5306 - accuracy: 0.7416
Epoch 175/200
858/858 [==============================] - 1s 997us/step - loss: 0.5304 - accuracy: 0.7416
Epoch 176/200
858/858 [==============================] - 1s 994us/step - loss: 0.5304 - accuracy: 0.7423
Epoch 177/200
858/858 [==============================] - 1s 993us/step - loss: 0.5305 - accuracy: 0.7427
Epoch 178/200
858/858 [==============================] - 1s 991us/step - loss: 0.5304 - accuracy: 0.7427
Epoch 179/200
858/858 [==============================] - 1s 983us/step - loss: 0.5302 - accuracy: 0.7418
Epoch 180/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7428
Epoch 181/200
858/858 [==============================] - 1s 984us/step - loss: 0.5300 - accuracy: 0.7430
Epoch 182/200
858/858 [==============================] - 1s 997us/step - loss: 0.5300 - accuracy: 0.7423
Epoch 183/200
858/858 [==============================] - 1s 994us/step - loss: 0.5301 - accuracy: 0.7421
Epoch 184/200
858/858 [==============================] - 1s 980us/step - loss: 0.5301 - accuracy: 0.7427
Epoch 185/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7428
Epoch 186/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7423
Epoch 187/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7426
Epoch 188/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7418
Epoch 189/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7422
Epoch 190/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7415
Epoch 191/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7426
Epoch 192/200
858/858 [==============================] - 1s 982us/step - loss: 0.5299 - accuracy: 0.7421
Epoch 193/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7424
Epoch 194/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7428
Epoch 195/200
858/858 [==============================] - 1s 988us/step - loss: 0.5300 - accuracy: 0.7418
Epoch 196/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7420
Epoch 197/200
858/858 [==============================] - 1s 989us/step - loss: 0.5299 - accuracy: 0.7426
Epoch 198/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7418
Epoch 199/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7419
Epoch 200/200
858/858 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7431

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5730 - accuracy: 0.7322 - 257ms/epoch - 1ms/step
Loss: 0.5729780197143555, Accuracy: 0.7322157621383667

In [19]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_InitialModel.h5")